
/* Style all input fields */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Style the container for inputs */
  .container {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
  }

  #top-bar {
    background-color: #88DFFF;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    padding: 5%;
    height: 100px;
    z-index: 1000;
    justify-content: flex-end;
    align-items: center;
    right: 0%;
  }

  .top-bar-navigator {
    margin: 5%;
    position: relative;
  }

  #bottom-bar {
    position: fixed;
    bottom:0;
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: #88DFFF;
    right: 0;
    justify-content: space-between;
  }

  .contact {
    padding: 5%;
    top: 100px;
  }

  .contact-info {
    display:flex;
    padding: 3%;
    border-bottom: solid 1px black;
  }

  .favourites-content {
    padding: 5%;
    top: 100px;
  }

  .user-information {
    padding: 5%;
    top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .user-pfp {
    border-radius: 50%;
    width: 20%;
    height: 20%;
  }

  .user-info {
    margin-left: 10px;
  }
